@model Presentation
@{
    ViewData["Title"] = "Presentation";
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        
        <div class="col-12 bg-light py-2 mb-3">
            <button id="addText" class="btn btn-secondary"><i class="fa-solid fa-font"></i></button>
            <button id="addCircle" class="btn btn-secondary"><i class="fa-solid fa-circle"></i></button>
            @* <button id="addArrow" class="btn btn-secondary"><i class="fa-solid fa-arrow-right"></i></button> *@
            <button id="addRectangle" class="btn btn-secondary"><i class="fa-solid fa-square"></i></button>
@*             <button id="addImage" class="btn btn-secondary"><i class="fa-solid fa-image"></i></button>
            <input type="file" id="imageInput" style="display: none;" accept="image/*"> *@
            <button id="exportToPDF" class="btn btn-secondary"><i class="fa-solid fa-file-pdf"></i></button>
        </div>
    </div>
    <div class="row">
        <div>
            <input type="text" id="slidePositionInput" placeholder="Position (optional)" />
            <button class="btn btn-secondary mb-1" onclick="addSlide('@Model.Id')">+</button>
            <button class="btn btn-secondary mb-1" onclick="deleteSlide('@Model.Id')">-</button>
            <button class=" btn btn-secondary mb-1" onclick="presentMode()">Presentation Mode</button>
        </div>
        
        <div class="col-2 border-end overflow-auto" style="height: 80vh;">
            <ul class="list-group" id="slidesList">
                @if (Model != null && Model.Slides != null) 
                {
                    int i = 1;
                    foreach (var slide in Model.Slides)
                    {
                        <li class="list-group-item slide-item" data-slide-id="@slide.Id" id="@slide.Id">@i++</li>
                    }
                }
            </ul>
        </div>

        
        <div class="col-8 text-center position-relative" style="height: 80vh; border-right: 1px solid #ddd;">
            <div id="currentSlide" class="position-relative" style="height: 100%; border: 1px solid #ccc;">
                
            </div>
            <div id="hiddenForPDF" class="position-relative" style="z-index: -9999"></div>
            <canvas id="currentSlideCanvas"class="position-absolute" style="">

            </canvas>
        </div>

        
        <div class="col-2">
            <ul class="list-group" id="usersList">
            </ul>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12 text-center bg-light py-2" id="slideInfo">
            <span id="slideCount">Slides: 0</span> |
            <span id="memoryUsage">Occupied memory on the server: 0 bytes</span>
        </div>
    </div>
</div>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.0/signalr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
<script src="~/js/presentation.js"></script>

<style>
    .slide-element {
        cursor: pointer;
    }

    .slide-element.selected {
        border: 2px thin rgba(0, 0, 0, 0.15);
    }

    #editorContainer {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #currentSlide:fullscreen {
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>